
/* 게시판 row(container) 설정 */
#mainContainer__boardSet {
    display: flex;
    margin-left: var(--section-margin);
}

#mainContainer__boardSet__1stCol {
    width: 80%;
    margin-right: var(--section-margin);
}

#mainContainer__boardSet__2ndCol {
    width: 100%;
}

/* 각 게시판 영역 */
.boardSection {
    padding: var(--section-margin);
    background-color: var(--white);
    border-radius: var(--section-border-radius);
}

.boardSection:first-child {
    margin-bottom: var(--section-margin);
}

/* 게시판 제목 */
.boardSection > h1 {
    display: inline-block;
    background-color: var(--theme-primary-pink);
}

/* 게시판 목록 */
.boardSection > ul {
    margin: var(--section-margin) 0;
}

/* 더보기 버튼 */
.moreBtnContainer {
    display: flex;
    justify-content: center;
}

.moreBtnContainer > a {
    color: var(--theme-sub-pink);
    border-radius: var(--btn-border-radius);
    border: 3px solid var(--theme-sub-pink);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
}

/* 더보기 버튼 hover */
.moreBtnContainer > a:hover,
.moreBtnContainer > a:active {
	color: var(--white) !important;
	background-color: var(--theme-sub-pink) !important;
	transform: scale(1.1);
	transition: transform 0.3s ease;
}

/* 메이트 구하기 게시판 */
#mainContainer__boardSet__1stCol__mate > table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 var(--margin-default);
    padding: calc(var(--section-margin) * 1.1);
}

/* #mainContainer__boardSet__1stCol__mate > table > tbody {
    padding: calc(var(--section-margin) * 1.5);
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
} */

/* 말풍선 */
#mainContainer__boardSet__1stCol__mate > table > tbody > tr > 
td.findMateTable__comment__content.findMateTable__othercomment__content {
    width: 70%;
    background-color: var(--gray-01);
    padding: 0.3rem;
}

#mainContainer__boardSet__1stCol__mate .findMateTable__comment__content:hover {
    background-color: var(--gray-01);
    transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
}

/* 동아리 게시판 */
#mainContainer__boardSet__2ndCol__club-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.mainContainer__boardSet__2ndCol__club-content {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--gray-01);
    border-radius: var(--thumbnail-border-radius);
}

.mainContainer__boardSet__2ndCol__club-content:first-of-type {
    margin-right: 2rem;
}

/* 이미지 + Dday */
/* container */
.mainContainer__boardSet__2ndCol__club-content-img {
    display: flex;
    flex-direction: column;
    height: 80%;
    border-bottom: 2px solid var(--gray-01);
    /* height: 70%; */
}

/* Dday */
.mainContainer__boardSet__2ndCol__club-content-img > h6 {
    padding: 0.3em 0.5em;
    color: var(--white);
    font-weight: var(--header-font-weight);
    background-color: var(--theme-sub-pink);
    border-radius: var(--btn-border-radius);
    width: auto;
    align-self: flex-end;
    position: absolute;
    margin: 0.4em;
}

/* 이미지 */
.mainContainer__boardSet__2ndCol__club-content-img > img {
    margin: auto;
    height: 50%;
    display: flex;
    align-self: center;
}

/* 제목 + 내용 */
.mainContainer__boardSet__2ndCol__club-content-text {
    /* margin: auto; */
    padding: 0.6em;
    /* border-top: 2px solid var(--gray-01);
    margin-top: 0.5em; */
}

/* 내용 */
.mainContainer__boardSet__2ndCol__club-content-text > h2 {
    font-weight: var(--header-font-weight);
    font-size: var(--nav-bar-font-size);
}

/* 내용 */
.mainContainer__boardSet__2ndCol__club-content-text > p {
    color: var(--gray-02);
    font-weight: var(--text-font-weight);
    font-size: var(--text-font-size);
}