@charset "UTF-8";

#contentTitle {
  /* padding-left: 15px; */
  margin: 10px 0 20px 0;
  font-size: 40px;
  font-weight: var(--header-font-weight);
  vertical-align: middle;
}

#contentTable {
  margin: 10px 0 0 0;
}
#contentTable tr th {
  width: 300px;
  height: 80px;
  font-size: 30px;
  font-weight: 400;
  vertical-align: middle;
  border: 1px solid black;
  padding-left: 10px;
}
#contentTable tr td {
  width: 350px;
  height: 80px;
  font-size: 25px;
  vertical-align: middle;
  /* padding-left: 10px; */
  border: 1px solid black;
}

#profilepreview {
  width: 100%;
  height: 160px;
  object-fit: fill;
}
#profilebox {
  max-height: 160px;
}
input,
textarea {
  width: 95%;
  height: 95%;
  background-color: var(--gray-01);
  border: none;
}
#changeId {
  margin-top: 5px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  width: 100px;
}
#change {
  width: auto;
  height: auto;
}
send {
  text-align: center;
  vertical-align: middle;
}