
/* css 파일 list */

/* reset.css */
@import "./reset.css";

/* css 변수 */
@import "./variables.css";

/* darkmode */
@import "./darkmode.css";

/* navbar */
@import "./navbar.css";

/* 메인페이지 css */
/* left-tab */
@import "./mainPage/leftTab.css";

/* board-set */
@import "./mainPage/boardSet.css";


/* 중고거래 게시판 */
@import "./utbbslist/utbbslist.css";

/* 메이트 구하기 게시판 */
@import "./findmate/findmate.css";


/* 전체 설정 */
* {
	font-family: "Pretendard" !important;
}

html {
	height: 100%;
}

body {
	background-color: var(--gray-01);
	height: 100%;
}

h1 {
	display: inline-block;
	color: var(--white);
	font-size: var(--header-font-size);
	font-weight: var(--header-font-weight);
	padding: 0.8rem;
	border-radius: var(--header-border-radius);
}

a {
	text-decoration : none;
	color: black;
}

a:hover {
	color: dodgerblue;
}
#mainContainer {
	display: flex;
	padding: var(--section-margin);
}
