@charset "UTF-8";

/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    /* 기본 색들 */
    --white: rgba(255, 255, 255, 1);
    --black: rgba(35, 37, 38, 1);
    --black-bg: rgba(47, 52, 55, 1);
    --gray-01: rgba(235, 235, 235, 1);
    --gray-02: rgba(151, 151, 151, 1);

    /* 컬러 팔레트 */
    --theme-yellow: rgba(255, 231, 153, 1);
    --theme-primary-pink: rgba(248, 119, 177, 1);
    --theme-sub-pink: rgba(252, 171, 216, 1);
    --theme-primary-blue: rgba(94, 175, 242, 1);
    --theme-sub-blue: rgba(135, 196, 242, 1);
    
    /* background-color */
    --body-bg-color: rgba(231, 230, 242, 1); /* section 배경색*/
    --nav-bar-bg-color: var(--theme-yellow);
    --post-header-bg-color: var(--body-bg-color);    /* 게시물 block 컬러  */ 
    --search-input-bg-color:rgba(160, 163, 189, 1);

    /* margin, pad프로필 수정ding */
    --section-margin: 1rem;
    --margin-default: 0.5rem;
    --btn-padding: var(--margin-default);
    --li-margin: 5px 0; /* 게시물, todo-list element간의 위아래 margin */

    /* border-radius */
    --section-border-radius: 25px; 
    --header-border-radius: 20px;  
    --btn-border-radius: var(--header-border-radius); 
    --thumbnail-border-radius: 10px;
    --post-border-radius: 6px;

    /* font */
    --text-color: var(--gray-02);
    --post-attr-gray-color: rgba(215, 212, 234, 1); /* 게시물의 좋아요, 조회수의 color */
    
    /* font-weight */
    --header-font-weight: 700;
    --text-font-weight: 400;

    /* font-size */
    --nav-bar-font-size: 1.3rem;
    --header-font-size: 1rem;
    --text-font-size: 1em;
    --post-attr-font-size: 0.3em; /* 게시물의 좋아요, 조회수의 font-size */

    /* shadow */
    --main-shadow: 1px 1px 5px 5px rgba(1, 1, 1, 0.1);

}

/* dark mode - media query
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: var(--black-bg);
        --text-color: var(--gray-01);
    }
} */

.dark-mode, [data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: var(--gray-01);
    --bs-body-bg: var(--black-bg);
    --theme-yellow: rgba(71, 69, 98, 1);
}
