@charset "UTF-8";

#contentbox tr th,
#contentbox tr td {
  height: 30px;
  padding: 10px 3px 10px 3px;
  overflow: hidden;
  white-space: nowrap;
  border: none;
}

#contentbox tr th{
  width: 80px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

#buttons {
  text-align: center;
}

#contentbox tr th.subject {
  width: 180px;
}
#contentbox tr th #changeAvg,
.subjectName {
  width: 180px;
}

.credit {
  width: 80px;
}

#result {
  overflow: hidden;
  white-space: nowrap;
}

#result table tr th,
#result table tr td {
  border: none !important;
}

.buttons {
  border: 3px solid var(--theme-primary-blue);
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  padding: 6px;
  background-color: white;
}
.buttons:hover {
  background-color: var(--theme-primary-blue);
  color: white;
}

#contentbox tbody tr th {
  border: 2px solid var(--theme-primary-blue);
}
#contentbox thead tr td {
  border: 2px solid var(--theme-primary-blue);
  width: 80px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}
